*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Redressed';
    src: url(./Fonts/Redressed-Regular.ttf);
}
@font-face {
    font-family: 'Revamped';
    src: url(./Fonts/Revamped.otf);
}
body{
    background-image: url(./img/bg.png);
    text-align: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    cursor:default;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.header h1{
    font-family:'Revamped' ;
    margin-bottom: 40px;
    padding-top: 30px;
    font-size:70px;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#ffd30020);
    line-height: 0.7em;
    outline: none;
    animation: animate 5s linear infinite;
}
/* Tubelight Glow Effect */
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #ffd300;
        text-shadow: none;
    }
    10.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow:0 0 10px #ffd300,
        0 0 20px #ffd300,
        0 0 40px #ffd300,
        0 0 80px #ffd300,
        0 0 160px #ffd300;
    }
}
.header p{
    color: white;
    font-size: 24px;
    font-family:cursive;
    padding-left: 100px;
    padding-right: 100px;
}

.team {
    color: white;
    margin-top: 30px;
    font-size: 10px;
}
.team-name {
    font-family: 'Redressed';
    font-size: 50px;
    text-shadow:
    0 0 10px #fff,
    0 0 2px #fff;
}

.swiper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.swiper .swiper-slide{
    position: relative;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgb(255,255, 255,0.1);
    overflow: hidden;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    
}
.swiper-slide h1{
    margin-top: 10px;
}
.social{
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style: none;
    visibility: hidden;
    opacity: 0;
}

box-icon{
    margin-left: 3px;
    margin-right: 3px;
}


/* Hover*/

.swiper-slide:hover .social{
    visibility: visible;
    opacity: 1;
    transition-duration: 1s;
}
box-icon:hover{
    transform: scale(1.5);
}

/* Media Queries */

@media screen and (max-width: 1080px) {
    
    }
    @media screen and (max-width: 480px) {
        body{
            background-image: url(./img/bg2.png);
            
        }
        .header h1{
            font-size: 40px;
        }
        .social{
            visibility: visible !important;
            opacity: 1 !important;
        }

         
  }