html,body {
    position: relative;
    height: 100%;
}

body {
font-size: 14px;
color: #000;
margin: 0;
padding: 0;}

.swiper {
width: 100%;
padding-top: 10px;
padding-bottom: 50px;
}
.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 300px;
margin-left: 25px;
margin-right: 25px;
}

.swiper-slide img {
display: block;
width: 75%;
padding-top: 10px;
border-radius: 50%;
margin: auto;
}